.table-container {
    margin-inline: 'auto';
    max-height: 380px;
    min-width: 350px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    cursor: pointer;
    /* Default cursor style */
}

.table-container.scrollable {
    cursor: grab;
    /* Cursor style for scrollable table */
}

.table-container.scrollable:active {
    cursor: grabbing;
    /* Cursor style when scrolling */
}

.table-safari {

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}