.chart {

    display: flex;
    min-height: 380px;
    margin-inline: auto;
    width: 350px;
    align-items: center;

}

.table-container {
    max-height: 380px;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    cursor: pointer;
    /* Default cursor style */
}

.table-container.scrollable {
    cursor: grab;
    /* Cursor style for scrollable table */
}

.table-container.scrollable:active {
    cursor: grabbing;
    /* Cursor style when scrolling */
}