.navigation-link {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    transition: color 0.1s ease-in-out;

    &:nth-child(1) {
        margin-inline: 5px 10px;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.navigation-validation {
    .loginLink {
        color: white;
        padding-inline-end: 20px;
        border-right: 2px solid white;

        &:hover {
            color: #f1f1f1;
        }
    }
}

.navigation-logo {
    justify-self: center;
}


.blur-background {
    background-color: rgba(14, 14, 13, 0.85);
    // backdrop-filter: blur(100px);
}