.navigation-link {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    transition: color 0.1s ease-in-out;


}

::nth-first-child(.navigation-link) {
    margin-right: 10px;
}

.navigation-validation {
    .loginLink {
        color: white;
        padding-inline-end: 20px;
        border-right: 2px solid white;

        &:hover {
            color: #f1f1f1;
        }
    }
}

.navigation-logo {
    justify-self: center;
}

.navigation-safari {
    backdrop-filter: blur(4x);
    -webkit-backdrop-filter: blur(4px);
}